@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
}
body{
    background: rgb(167, 167, 231);
}
.app{
    display: flex;
}
.side__nav{
    height: 100vh;
    background: rgb(42, 121, 224);
    width: 15vw;
    display: flex;
    flex-direction: column;
    padding: 1rem 0 0 0;
}

.side__nav span svg{
    color: white;
}
.side__nav ul{
    margin-top: 2rem;
    width: 100%;
}
.side__nav ul li{
    display: flex;
    gap: 0.4rem;
    align-items: center;
    color: white;
    padding: 2rem;
    width: 100%;
}
.side__nav ul li:hover{
    background: rgb(68, 105, 136);
}
.side__nav li svg{
    color: white;
}
.active__nav{
    display: relative;
    background: rgb(6, 6, 49);
}
.active__nav::after{
    content: "";
    width: 5px;
    background-color: white;
    height: 1rem;
    position: absolute;
    border-radius: 0.3rem 0 0 0.3rem;
    left: 14.6%;
}
.main__nav{
    width: 85vw;
    height: 7vh;
    background: white;
    display: flex;
    align-items: center;
    box-shadow: 5px 1px 1rem rgba(167, 167, 231, 0.4);
    z-index: 100;
}
.main__nav p{
    margin-left: 1rem;
}
.right__side{
    display: flex;
    flex-direction: column;
}
.avatar{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}
.extras{
    display: flex;
    align-items: center;
    margin-left: 80%;
    gap: 1rem;
}
.profile__row{
    background-color: white;
    width: 85vw;
    height: 93vh;
    display: flex;
}
.profile__column{
    display: flex;
    flex-direction: column;
    width: 20%;
    border-right: 2px solid rgba(66, 65, 65, 0.185);
}
.profile__column li{
    display: flex;
    padding: 1rem;
    align-items: center;
    gap: 0.3rem;
}
.edit__profile{
    margin-top: 1rem;
    display: grid;
    place-items: center;
}
.avatar__icon{
    width: 5rem;
    height: 5rem;
}
.avatar__upload{
    position: relative;
}
.avatar__upload img{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}
.avatar__upload span{
    position: absolute;
    right: 0;
    bottom: 10%;
    padding: 1rem;
    width: 1rem;
    height: 1rem;
    background: blue;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
}
.hidden{
    display: none;
}
.upload__icon{
    color: white;
    background: blue;
    border-radius: 50%;
}
.form__row{
    display: flex;
    gap: 1rem;
}
.form__control{
    display: flex;
    flex-direction: column;
    position: relative;
}
.edit__profile form{
    margin-left: 2rem;
}
.edit__profile form label{
    font-size: 0.8rem;
}
input[type=text], input[type=password], input[type=email] {
    border: 1px solid rgb(97, 134, 214);
}
.btn{
    background: rgb(42, 121, 224);
    color: white;
    padding: 0.5rem;
    border-radius: 0.7rem;
    margin-top: 1rem;
    font-size: 0.7rem;
}
.visibility{
    position: absolute;
    right: 0;
    bottom: 10%;
    right: 1rem;
}